.app {
  border: solid;
  background-color: bisque;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  color: black;
}

a {
  text-decoration: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: azure;
}

.article-title {
  font-size: medium;
}

.article-topic {
  font-size: small;
}

.article-container {
  display: grid;
  border: solid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px yellow;
}

.article-card {
  border: solid;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.article-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.author-topic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.article-page {
  border-style: groove;
  margin: 2%;
  padding: 1rem;
}

.article-title {
  font-size: 2rem;
}

.author-topic-tags {
  flex: 1;
  font-size: 1rem;
}

.article-body {
  text-align: left;
  border-style: groove;
  margin: 2%;
  padding: 1rem;
  font-size: 1.25rem;
}

.article-votes {
  text-align: left;
  margin: 2%;
  font-size: 1rem;
}

.comment-card {
  border-style: groove;
  margin: 2%;
  padding: 1rem;
}

.comments{
  border-style: groove;
}


@media screen and (max-width: 600px) {
  .article-container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .article-card {
    margin: 10px 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  .article-title {
    font-size: 1.5rem;
  }

  .author-topic {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .author-topic-tags {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .article-body {
    font-size: 1rem;
  }

  .article-votes {
    font-size: 0.9rem;
  }

}
